<div class="row">
    <div class="col-md-6">
        <div class="well">
            
            <%= @user.profile.first_name %> <%= @user.profile.last_name %> <br />
            <%= @user.profile.political_party %> <br />
            <%= @user.profile.gender %> <br />
            <%= @user.profile.ethnicity %> <br />
            
            
        </div> 
    </div>
</div>